<section id="skills">
    <h3>SKILLS</h3>
    <div id="skills-container">
        <div>
            <h4>TECHNICAL SKILLS</h4>
            <div>
                <ul>
                    <li>HTML</li>
                    <li><progress value="80" max="100"></progress></li>
                    <li>CSS</li>
                    <li><progress value="80" max="100"></progress></li>
                    <li>JAVA SCRIPT</li>
                    <li><progress value="80" max="100"></progress></li>
                    <li>JAVA </li>
                    <li><progress value="80" max="100"></progress></li>
                    <li>SQL</li>
                    <li><progress value="80" max="100"></progress></li>
                </ul>
            </div>
        </div>
        <div>
            <h4>LANGUAGES</h4>
            <ul>
                <li>ENGLISH</li>
                <li><progress value="80" max="100"></progress></li>
                <li>HINDI</li>
                <li><progress value="90" max="100"></progress></li>
                <li>PUNJABI</li>
                <li><progress value="40" max="100"></progress></li>
            </ul>
        </div>

    </div>
</section>