<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <p>Some of my best projects so far</p>
    <hr>
    <div>
        <article>
            <img src="../../assets/icon.svg" alt="">
            <h4>forkify</h4>
            <p>Forkify is based on MVC architecture web application.</p>
        </article>
        <article>
            <img src="../../assets/icon.svg" alt="">
            <h4>E-commerce</h4>
            <p>E-commerce website build for user flexibility.</p>
        </article>
        <article>
            <img src="../../assets/icon.svg" alt="">
            <h4>Movie Website</h4>
            <p>This website is clone of the IMBD..</p>
        </article>
    </div>
</section>