<header id="home">
    <div>
        <p>I BELIVE IN</p>
        <h1>EAT (); SLEEP (); CODE(); REPEAT ();</h1>
    </div>
</header>
<section id="bio">
    <img src="../../assets/IMG_20180609_213143.jpg" alt="sk">
    <article>
        <h2>Swati Saxena</h2>
        <p> I'm a Computer Science Engineer, believing to give an effort from my side in any of the work.
            Interested in web development and problem-solving skills.
            <span class="break"></span>
             I have taken up a Full Stack Development program with FACEPREP. I have knowledge of HTML, CSS and
            javascript, Java, python and Data Structures.
            Rational thought process and goal-oriented
            planning are my strengths.
            <span class="break"></span>

            I am currently on the look out for a challenging role
            to build products that make a difference.
        </p>
       <a href="DOWNLOAD MY RESUME" class="link-button">Download My Resume</a>

    </article>
</section>