/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 10px;
    background-color: #ededf0;
}

h1,h3,h4{
    font-weight: 800;
}

h1{
    font-size: 5em;
}

h2{
font-size: 4em;
font-weight: 500;
}

h3{
font-size: 2.5em;
}

h4{
   font-size:1.8em; 
}

.link-button{
    text-decoration: none;
    text-align: center;
    background-color: #F05136;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 0.5px;
    color: white;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 5%;
    border-color: black;
}

.link-button:hover{
    color: white;
}
#portfolio,
#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}